@model IEnumerable<BlueboxPortal.Models.Airline>

@{
    ViewBag.Title = "IndexNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin: 0 10% 10% 10%">

    <h2>Airlines</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <hr />

    @foreach(var item in Model)
    {
        <a href="@Url.Action("Details", "Airlines", new { id = item.Id })">
            <div class="airline-box">
                @*@Html.ActionLink(item.Name, "Details", new { id = item.Id })*@
                <h3>@item.Name</h3>
                <p>Messages will go here</p>
            </div>
        </a>
    }
</div>
